/*--Обнуление--*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
/*--------------------*/

body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	letter-spacing: 0.03em;
	color: #212121;
	font-size: 14px;
}

li {
}

/* -------Хедер------- */
.nav {
	letter-spacing: 0.02em;
}
.nav__logo,
.footer-logo {
	font-family: "Raleway";
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;
	color: black;
}

.nav__logo {
	position: absolute;
	width: 145px;
	height: 31px;
	left: 215px;
	top: 24px;
}
.logo-1 {
	color: #2196f3;
}

.nav__link-1,
.nav__link-2,
.nav__link-3 {
	position: absolute;
	top: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #212121;
}

.nav__link-1 {
	width: 49px;
	height: 16px;
	left: 453px;
}

.nav__link-2 {
	width: 77px;
	height: 16px;
	left: 552px;
}

.nav__link-3 {
	width: 68px;
	height: 16px;
	left: 679px;
}

.nav__mail,
.nav__tel {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	color: #757575;
}

.nav__mail {
	position: absolute;
	width: 136px;
	height: 16px;
	left: 1078px;
	top: 32px;
}
.nav__tel {
	position: absolute;
	width: 136px;
	height: 16px;
	left: 1263px;
	top: 32px;
}

/* -------Хиро------- */
.hat {
	position: absolute;
	width: 1600px;
	height: 600px;
	left: 0px;
	top: 80px;

	background: #2f303a;
}
.hat__hero {
	position: absolute;
	width: 696px;
	height: 120px;
	left: 452px;
	top: 200px;

	font-weight: 900;
	font-size: 44px;
	line-height: 60px;

	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #fff;
}
.hut__service {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 700px;
	top: 360px;

	font-weight: bold;
	font-size: 16px;
	line-height: 30px;

	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	color: #ffffff;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

/* -------Фичи------- */
.features {
	font-size: 0.1em;
}

.features__title-1,
.features__title-2,
.features__title-3,
.features__title-4 {
	position: absolute;
	width: 270px;
	height: 16px;
	top: 774px;

	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
}

.features__title-1 {
	left: 215px;
}
.features__title-2 {
	left: 515px;
}
.features__title-3 {
	left: 815px;
}
.features__title-4 {
	left: 1115px;
}

.features__text-1,
.features__text-2,
.features__text-3,
.features__text-4 {
	position: absolute;
	width: 270px;
	height: 75px;
	top: 800px;

	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	color: #757575;
}
.features__text-1 {
	left: 215px;
}
.features__text-2 {
	left: 515px;
}
.features__text-3 {
	left: 815px;
}
.features__text-4 {
	left: 1115px;
}

/* --------Чем мы занимаемся-------- */
.skills-title {
	position: absolute;
	width: 376px;
	height: 42px;
	left: 612px;
	top: 969px;

	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
}
.skill-1,
.skill-2,
.skill-3 {
	position: absolute;
	width: 370px;
	height: 294px;
}
.skill-1 {
	left: 215px;
	top: 1061px;
}
.skill-2 {
	left: 615px;
	top: 1061px;
}
.skill-3 {
	left: 1015px;
	top: 1061px;
}

/* -------Наша команда------- */
.workers {
	background: #f5f4fa;
}

.workers__title {
	position: absolute;
	width: 264px;
	height: 42px;
	left: 668px;
	top: 1543px;

	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
}
.workers__card-1,
.workers__card-2,
.workers__card-3,
.workers__card-4 {
	position: absolute;
	width: 270px;
	height: 368px;

	background: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.workers__card-1 {
	left: 215px;
	top: 1635px;
}
.workers__card-2 {
	left: 515px;
	top: 1635px;
}
.workers__card-3 {
	left: 815px;
	top: 1635px;
}
.workers__card-4 {
	left: 1115px;
	top: 1635px;
}

.workers__name-card {
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin: 30px 0px 10px 68px;
}
.workers__card-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;

	color: #757575;
}
/* -----------Конец мейн главной----------- */

/* -----------Main----------- */
/* -------Фильтр------- */
.filter {
}
.filter__title {
}

.filter__all,
.filter__web,
.filter__app,
.filter__design,
.filter__marketing {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	background: #fff;
}

.filter__all {
	position: absolute;
	width: 29px;
	height: 26px;
	left: 517px;
	top: 180px;
}
.filter__web {
	position: absolute;
	width: 84px;
	height: 26px;
	left: 598px;
	top: 180px;
}

.filter__app {
	position: absolute;
	width: 101px;
	height: 26px;
	left: 734px;
	top: 180px;
}

.filter__design {
	position: absolute;
	width: 59px;
	height: 26px;
	left: 887px;
	top: 180px;
}

.filter__marketing {
	position: absolute;
	width: 86px;
	height: 26px;
	left: 998px;
	top: 180px;
}

/* -------Проекты------- */
.projects {
}
.projects__title {
}

.projects__1,
.projects__2,
.projects__3,
.projects__4,
.projects__5,
.projects__6,
.projects__7,
.projects__8,
.projects__9 {
	position: absolute;
	width: 370px;
	height: 404px;
}

.projects__1 {
	left: 215px;
	top: 262px;
}
.project-name {
	display: block;
	margin: 20px 0 4px 24px;
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
}
.project-text {
	display: block;
	margin-left: 24px;
	font-size: 16px;
	line-height: 30px;
}

.projects__2 {
	left: 615px;
	top: 262px;
}

.projects__3 {
	left: 1015px;
	top: 262px;
}

.projects__4 {
	left: 215px;
	top: 696px;
}

.projects__5 {
	left: 615px;
	top: 696px;
}
.projects__6 {
	left: 1015px;
	top: 696px;
}

.projects__7 {
	left: 215px;
	top: 1130px;
}

.projects__8 {
	left: 615px;
	top: 1130px;
}

.projects__9 {
	left: 1015px;
	top: 1130px;
}
/* -----------Конец мейн портфолио----------- */

/* -----------Подвал----------- */
footer {
	position: absolute;
	width: 1600px;
	height: 252px;
	left: 0px;
	top: 2097px;

	background: #2f303a;
}
.footer-logo {
	position: absolute;
	width: 145px;
	height: 31px;
	left: 215px;
	top: 60px;
}

.address {
	position: absolute;
	width: 231px;
	height: 21px;
	left: 215px;
	top: 111px;

	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	color: #fff;
}

.footer__mail,
.footer__tel {
	display: block;
	top: 9px;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	color: rgba(255, 255, 255, 0.6);
}
/* --------------Конец подвал--------------*/

/* -------При наведении------- */
.nav__link-1:hover,
.nav__link-2:hover,
.nav__link-3:hover,
.nav__mail:hover,
.nav__tel:hover,
.footer__mail:hover,
.footer__tel:hover {
	color: #2196f3;
}

.filter__all:hover,
.filter__web:hover,
.filter__app:hover,
.filter__design:hover,
.filter__marketing:hover {
	color: #fff;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
.filter__all:hover {
	position: absolute;
	width: 73px;
	height: 38px;
	left: 495px;
	top: 174px;
}
.filter__web:hover {
	position: absolute;
	width: 128px;
	height: 38px;
	left: 576px;
	top: 174px;
}
.filter__app:hover {
	position: absolute;
	width: 145px;
	height: 38px;
	left: 712px;
	top: 174px;
}
.filter__design:hover {
	position: absolute;
	width: 103px;
	height: 38px;
	left: 865px;
	top: 174px;
}
.filter__marketing:hover {
	position: absolute;
	width: 130px;
	height: 38px;
	left: 976px;
	top: 174px;
}
/* -------------------- */

/* -------Фокус------- */
.nav__link-1:focus,
.nav__link-2:focus,
.nav__link-3:focus,
.nav__mail:focus,
.nav__tel:focus,
.footer__mail:focus,
.footer__tel:focus {
	color: #2196f3;
}

.filter__all:focus,
.filter__web:focus,
.filter__app:focus,
.filter__design:focus,
.filter__marketing:focus {
	color: #fff;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
/* ---------------------------- */
