/*--Обнуление--*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
/*--------------------*/
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	letter-spacing: 0.03em;
}

li {
	list-style-type: none;
}

.logo {
	position: absolute;
	width: 145px;
	height: 31px;
	left: 215px;
	top: 24px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;

	color: black;
}
.logo-1 {
	color: #2196f3;
}

.nav {
	color: #212121;
}

.nav__link-1 {
	position: absolute;
	width: 49px;
	height: 16px;
	left: 453px;
	top: 32px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}
.nav__link-2 {
	position: absolute;
	width: 77px;
	height: 16px;
	left: 552px;
	top: 32px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}
.nav__link-3 {
	position: absolute;
	width: 68px;
	height: 16px;
	left: 679px;
	top: 32px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}

.nav__mail {
	position: absolute;
	width: 135px;
	height: 16px;
	left: 1078px;
	top: 32px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	color: #757575;
}
.nav__tel {
	position: absolute;
	width: 122px;
	height: 16px;
	left: 1263px;
	top: 32px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	color: #757575;
}
.hat {
	position: absolute;
	width: 1600px;
	height: 600px;
	left: 0px;
	top: 80px;

	background: #2f303a;
}
.hero {
	position: absolute;
	width: 696px;
	height: 120px;
	left: 452px;
	top: 280px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;

	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #ffffff;
}
.service {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 700px;
	top: 430px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;

	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	color: #ffffff;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.features {
	font-size: 0.1em;
	color: #ffffff;
}
.features__title-1 {
	position: absolute;
	width: 270px;
	height: 16px;
	left: 215px;
	top: 774px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;

	color: #212121;
}
.features__text-1 {
	position: absolute;
	width: 270px;
	height: 75px;
	left: 215px;
	top: 800px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	color: #757575;
}
.features__title-2 {
	position: absolute;
	width: 270px;
	height: 16px;
	left: 515px;
	top: 774px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;

	color: #212121;
}
.features__text-2 {
	position: absolute;
	width: 270px;
	height: 75px;
	left: 515px;
	top: 800px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	color: #757575;
}
.features__title-3 {
	position: absolute;
	width: 270px;
	height: 16px;
	left: 815px;
	top: 774px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;

	color: #212121;
}
.features__text-3 {
	position: absolute;
	width: 270px;
	height: 75px;
	left: 815px;
	top: 800px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	color: #757575;
}
.features__title-4 {
	position: absolute;
	width: 270px;
	height: 16px;
	left: 1115px;
	top: 774px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;

	color: #212121;
}
.features__text-4 {
	position: absolute;
	width: 270px;
	height: 75px;
	left: 1115px;
	top: 800px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	color: #757575;
}

.skills {
	position: absolute;
	width: 376px;
	height: 42px;
	left: 612px;
	top: 969px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;

	color: #212121;
}
.skill-1 {
	position: absolute;
	width: 370px;
	height: 294px;
	left: 215px;
	top: 1061px;
}
.skill-2 {
	position: absolute;
	width: 370px;
	height: 294px;
	left: 615px;
	top: 1061px;
}
.skill-3 {
	position: absolute;
	width: 370px;
	height: 294px;
	left: 1015px;
	top: 1061px;
}
.workers {
	background: #f5f4fa;
}

.workers__title {
	position: absolute;
	width: 264px;
	height: 42px;
	left: 668px;
	top: 1543px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;

	color: #212121;
}
.workers__card-1 {
	position: absolute;
	width: 270px;
	height: 368px;
	left: 215px;
	top: 1635px;

	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.workers__name-card-1 {
	display: block;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin: 30px 0px 10px 68px;

	color: #212121;
}
.workers__card-text-1 {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;

	color: #757575;
}
.workers__card-2 {
	position: absolute;
	width: 270px;
	height: 368px;
	left: 515px;
	top: 1635px;

	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.workers__name-card-2 {
	display: block;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin: 30px 0px 10px 68px;

	color: #212121;
}

.workers__card-text-2 {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;

	color: #757575;
}
.workers__card-3 {
	position: absolute;
	width: 270px;
	height: 368px;
	left: 815px;
	top: 1635px;

	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.workers__name-card-3 {
	display: block;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin: 30px 0px 10px 68px;

	color: #212121;
}
.workers__card-text-3 {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	text-align: center;
	color: #757575;
}
.workers__card-4 {
	position: absolute;
	width: 270px;
	height: 368px;
	left: 1115px;
	top: 1635px;

	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.workers__name-card-4 {
	display: block;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	margin: 30px 0px 10px 68px;

	color: #212121;
}
.workers__card-text-4 {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	text-align: center;

	color: #757575;
}
/* ----Конец мейн главной---- */

/* ----Main---- */
.filter {
}
.filter__title {
}
.filter__all {
	position: absolute;
	width: 29px;
	height: 26px;
	left: 517px;
	top: 180px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;

	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.filter__web {
	position: absolute;
	width: 84px;
	height: 26px;
	left: 598px;
	top: 180px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;

	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.filter__app {
	position: absolute;
	width: 101px;
	height: 26px;
	left: 734px;
	top: 180px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;

	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.filter__design {
	position: absolute;
	width: 59px;
	height: 26px;
	left: 887px;
	top: 180px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;

	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.filter__marketing {
	position: absolute;
	width: 86px;
	height: 26px;
	left: 998px;
	top: 180px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;

	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.projects {
}
.projects__title {
}
.projects__1 {
	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 262px;
}
.projects__2 {
	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 262px;
}
.projects__3 {
	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 262px;
}
.projects__4 {
	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 696px;
}
.projects__5 {
	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 696px;
}
.projects__6 {
	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 696px;
}
.projects__7 {
	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 1130px;
}
.projects__8 {
	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 1130px;
}
.projects__9 {
	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 1130px;
}
/* ----Конец мейн портфолио---- */

/* ----Подвал---- */
footer {
	position: absolute;
	width: 1600px;
	height: 252px;
	left: 0px;
	top: 2097px;

	background: #2f303a;
}
.logo2 {
	position: absolute;
	width: 145px;
	height: 31px;
	left: 215px;
	top: 60px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;

	letter-spacing: 0.03em;
	color: black;
}

.address {
	position: absolute;
	width: 231px;
	height: 21px;
	left: 215px;
	top: 111px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	letter-spacing: 0.03em;

	color: #ffffff;
}

.footer__mail {
	display: block;
	top: 9px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);
}
.footer__tel {
	display: block;
	top: 9px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);
}
/* ---------*/

/* При наведении */
.nav__link-1:hover {
	color: #2196f3;
}
.nav__link-2:hover {
	color: #2196f3;
}
.nav__link-3:hover {
	color: #2196f3;
}
.nav__mail:hover {
	color: #2196f3;
}
.nav__tel:hover {
	color: #2196f3;
}

/* ------- */
